@import "../styles/colors";

.card {
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background: #fdfdfd;

  border-radius: 8px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.05);
  display: flex;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  background: $kinda-grey;
}