# note: pipfile only lists dependencies for running program on x86 systems

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
numpy = "*"
"pyqt5" = "*"
scipy = "*"
scikit-learn = "*"
pyqtgraph = "*"
flask-socketio = "*"
eventlet = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
