<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
    <link rel="stylesheet" href="https://use.typekit.net/nwv2jhx.css">
    {% block head %}
    <title>{% block title %}{% endblock %} - Project SuperLIMBinal</title>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <div id="footer">
        {% block footer %}
        <p>&copy;2018 Sakib Chowdhury and Claudia Lutfallah</p>
        <p>Supervised by Dr. Mirhassani</p>
        <p>Department of Electrical and Computer Engineering</p>
        <p>University of Windsor, Windsor, Ontario</p>
        {% endblock %}
    </div>
</body>
</html>