<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
    <link rel="stylesheet" href="https://use.typekit.net/nwv2jhx.css">
    <title>Project SuperLIMBinal</title>
</head>
<body>
    <h1>Welcome to Project SuperLIMBinal</h1>

    <h2>Subliminal Sensor System status: Dunno</h2>
    <h2>Superliminal Limb System status: Not connected</h2>

    <h3>Select an action</h3>
    <a href="/calibrate">Calibrate muscle map</a>
    <a href="/monitor">Live synergy monitor</a>
    <a href="/shutdown">Turn off Subliminal Sensor System</a>

    <div id="footer">
        {% block footer %}
        <p>&copy;2018 Sakib Chowdhury and Claudia Lutfallah</p>
        <p>Supervised by Dr. Mirhassani</p>
        <p>Department of Electrical and Computer Engineering</p>
        <p>University of Windsor, Windsor, Ontario</p>
        {% endblock %}
    </div>
</body>